:host {
  display: block;
}
/* TODO: Remove need to style a hidden sortable class */
.sc-dc-council-dropzone {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  column-gap: 10px;
  row-gap: 5px;
}