:host {
  display: block;
  border: thin solid #DDD;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
:host(.ghost) {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  
}
.details {
  display: none;
}
#title {
  font-size: 1.1rem;
  font-weight: 700;
  min-height: 50px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#titleEdit {
  display: none;
}
:host(.editing) #titleEdit {
  display: block;
}
:host(.editing) #titleView {
  display: none;
}