:host {
  display: block;

}

.shareButton {
  width: 200px;
  /* float: left; */
  padding-left: 20px;
}

input {
  block-size: 2rem;
  padding-inline: 0.75rem;
  font-size: var(--calcite-font-size--1);
  line-height: 1rem;  
  flex:1
}
.shareurl calcite-button {
  order: 2;
}
#shareButtons {
  display: flex;
}
.shareurl {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

#editInfo {
  border-top: 1px solid #AAA;
  font-weight: 400;
}

#preview {
  border: 1px solid #AAA;
  padding: 1rem;
  font-weight: 400;
  text-align: center;
}
#previewTitle {
  font-weight: 600;
  margin-bottom: 1rem;
}