:host {
  display: block;
  margin: 0;
  padding: 0;
}
#gameboard {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: 
    "header header"
    "pieces committees"
    "pieces committees"
    "footer footer";
}
#header {
  grid-area: header;
  background-color: #BBB;
  margin-bottom: 10px;
  padding: 0 10px;
  font-size: 1.3em;
  display: flex;
}

.control {
  margin: 20px 0 0 20px;
}
dc-council-committee-list {
  grid-area: committees;
  width: 80vw;
  overflow-x: scroll;
  border-left: thin solid #CCC;
  margin-left: 10px;
  padding-left: 10px;
  /* max-height: 600px; */
}

dc-council-member-list {
  grid-area: members;
}
dc-council-agency-list {
  grid-area: agencies;
  height: 100vw;

}

.display-members dc-council-agency-list {
  display: none;
}
.display-agencies dc-council-member-list {
  display: none;
}

#pieces {
  width: 300px;
  max-height: 800px;
  overflow: auto;
}
/* #pieces:after {
  content: "";
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 1) 90%);
} */
#selector {
  margin-bottom: 20px;
}