:host {
  display: block;
  margin: 0;
  padding: 0;
}
.column {
  width: 300px;
}

#gameboard {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;

  grid-template-areas: 
    "header header"
    "agencies members"
    "committees committees"
    "footer footer";
}

#header {
  grid-area: header;
  background-color: #BBB;
  margin-bottom: 10px;
  padding: 0 10px;
  font-size: 1.3em;
}
dc-council-committee-list {
  grid-area: committees;
  width: 100vw;
  /* max-height: 600px; */
}

dc-council-member-list {
  grid-area: members;
}
dc-council-agency-list {
  grid-area: agencies;
}

.pieces {
  overflow-x: scroll;
  /* border: thin solid #888; */
  width: 40vw;
}