:host {
  display: block;
  border: thin solid #CCC;
  background: white;
  position: relative;
  display: grid;
  grid-template-columns: fit-content(70px) auto;
  grid-template-areas: 
    "thumbnail title"
    "thumbnail details";  
}

#action {
  display: none;
}
:host(:hover) #action  {
  display: block;
  color: red;
}

#action {
  position: absolute;
  right: 0;
  top: 0;
}
#thumbnail {
  grid-area: thumbnail;
  max-width: 70px;
  /* 
  height: 100%;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px; */
}
#title {
  grid-area: title;
  padding: 5px 0 0 5px;
}
#details {
  grid-area: details;
  padding: 5px 0 0 5px;
}