:host {
  display: block;
  height: 70px;
  border: thin solid #BBB;
}
calcite-card {
  height: 98px;
}
:host(:hover) {
  /* border: 1px solid #0f9535; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.title {
  font-size: 1rem;
  font-weight: 500;
}
#name {
  font-weight: 700;
  font-size: 1rem;
  clear:right;
}

#term {
  margin-left: 3px;
  font-size: 0.8rem;
  font-weight: 300;
}

/* TODO: consolidate this styling across components */
:host(.dragging) {
  background: #0f9535;
  opacity: 0.5;
}
