:host {
  display: block;
  height: 100px;
}
:host(:hover) {
  /* border: 1px solid #0f9535; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.details {
  display: none;
}
.title {
  font-size: 1rem;
  font-weight: 500;
}
img {
  width: 50px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
}
/* TODO: consolidate this styling across components */
:host(.ghost) {
  background: #0f9535;
  opacity: 0.5;
}
